.select-screen {
  .screen__action {
    .btn {
      width: 320px;
      height: 320px;
      transition: transform 0.2s ease;
    }
  }

  .screen__nav {
    gap: 8px;
    align-items: flex-end;
    padding-bottom: 16px;
  }
}
