.select-screen {
  .screen__action {
    .btn {
      width: 64vw;
      max-width: 300px;
      transition: transform 0.2s ease;
      margin-right: -32px;
    }
  }

  .screen__nav {
    gap: 8px;
    align-items: flex-end;
  }
}
