.select-screen {
  .screen__action {
    .btn {
      width: 64vw;
      max-width: 256px;
      transition: transform 0.2s ease;
    }
  }

  .screen__nav {
    gap: 8px;
    align-items: flex-end;
  }
}
